@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  width: 238px;
  height: 341px;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: auto;
}

header.container {
  display: flex;
  justify-content: space-between;
  margin: 109px auto 0 auto;
}

header h1 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  font-family: "PT serif", serif;
  font-weight: bold;
}

.header-right {
  flex: 0.6;
  margin-right: 100px;
}

.header-right h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.header-right p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin-top: 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.members {
  margin-top: 96px;
}

.member {
  flex-basis: 33%;
  margin-bottom: 6rem;
  /* flex: 1; */
}

.member > p {
  margin-top: 10px;
}

.member:nth-child(2),
.member:nth-child(5) {
  /* margin-bottom: -6rem; */
  align-self: flex-end;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.member .role {
  writing-mode: vertical-lr;
  padding-left: 10px;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.member .name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.img-wrapper {
  display: flex;
}

footer {
  text-align: center;
  margin-top: 104px;
}

footer a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #a9a9a9;
}

@media (max-width: 425px) {
  header.container {
    flex-direction: column;
    margin: 12px;
  }
  header > * {
    flex: 1;
  }

  .header-right {
    margin-top: 38px;
  }

  section.members {
    margin: 12px;
    margin-top: 50px;
    justify-content: space-around;
  }

  .member:nth-child(2n) {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .member:nth-child(5) {
    margin-top: 0;
  }
  .member {
    flex-basis: 45%;
    margin-bottom: 1rem;
  }

  img {
    width: 138px;
    height: 209px;
  }
  footer {
    margin-bottom: 10px;
    margin-top: 5rem;
  }
}
