@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .header {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .header h1 {
    font-size: 24px;
    line-height: 32px;
    width: 100%;
    margin-bottom: 12px;
  }

  .header p {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
  }

  .header-img {
    margin-bottom: 24px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .left__header {
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 13px;
  }

  .left__subheader {
    font-size: 16px;
    line-height: 21px;

    margin-top: 20px;
  }

  .label {
    font-size: 14px;
    line-height: 25px;
  }

  .instructions {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .left__instruction {
    font-size: 16px;
    line-height: 20px;
  }

  .card__lists {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  .card__list {
    flex: 1;
    margin-bottom: 20px;
  }

  .card__list:nth-child(1) {
    flex-basis: 100%;
  }

  .material-icons {
    font-size: 18px;
  }

  .card__header {
    font-size: 8px;
    line-height: 10px;
  }
  .card__time {
    font-size: 10px;
    line-height: 12px;
  }

  .sourcelink {
    font-size: 12px;
    line-height: 150%;
  }
}
