@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  /* max-height: 100%; */
  max-width: 100%;
}

h1 {
  margin-top: 20px;
  margin-left: 24px;
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

section {
  display: flex;
  flex-direction: column;
}

.imgwrapper {
  margin: 4rem 2rem 3.75rem 2rem;
}

h2 {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
  color: #333333;
  margin-left: 24px;
}

p {
  margin-left: 24px;
  margin-right: 24px;
  font-family: "Space Mono", monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

button {
  border: none;
  padding: 1.5rem 1rem;
  margin-left: 24px;
  background: #333333;
  color: white;
  margin-top: 4.2rem;
}

footer {
  text-align: center;
  margin-top: 6rem;
  color: #333333;
  line-height: 17px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 426px) {
  section {
    flex-direction: row;
    margin-top: 12rem;
  }
  .right{
    margin-left:70px;
  }

  .imgwrapper {
    margin-left: 5rem;
    /* height:447px; */
    margin-top: 0;
  }
  h2 {
    margin-right: 8rem;
    margin-bottom:2rem;
  }
  p {
    margin-right: 20rem;
    line-height:180%;
  }
  footer {
    margin-top: 15rem;
  }
}
